{% extends "EventsUserBundle::layout.html.twig" %}

{% block events_user_content %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'EventsUserBundle') }}</p>
{% endblock events_user_content %}
