{% trans_default_domain 'EventsUserBundle' %}
{{ form_start(form, {'method': 'post', 'attr': {'class': 'events_user_create'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
